body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media(min-width: 1128px) {
    /* .container {
        width: 1380px;
        margin: 0 auto;
        padding: 0 20px;
    } */

    .sticked-to-top {
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: white;
        padding: 0 70px;
    }

    .logo {
        filter: invert(50%) sepia(58%) saturate(7495%) hue-rotate(330deg) brightness(103%) contrast(101%);
        height: 40px;
        cursor: pointer;
    }

    .header-nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        padding: 10px 0;
    }

    .search {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid lightgray;
        border-radius: 50px;
        padding: 23px 60px 23px 30px;
        height: 30px;
        background-color: transparent;
        color: lightgray;
        cursor: pointer;
    }


    .search h5 {
        margin: 0 5px;
        font-weight: 600;
        color: black;
    }

    #guests {
        color: rgb(143, 143, 143);
        font-weight: 400;
    }

    .search-icon {
        height: 28px;
        background-color: #FF385C;
        padding: 8px;
        border-radius: 50%;
        margin-left: -20%;
        margin-top: 2px;
        cursor: pointer;
    }

    .profile {
        height: 30px;
        padding: 10px 10px 10px 0;
        gap: 25px;
        display: flex;
        align-items: center;
    }

    .profile h6 {
        margin: 0;
        font-weight: 500;
        font-size: 14px;
        cursor: pointer;

    }

    .menu-img-ham {
        height: 42px;
        border: 1px solid lightgray;
        border-radius: 50px;
        padding: 13px 50px 13px 10px;
        cursor: pointer;

    }

    .menu-globle {
        cursor: pointer;

    }

    .menu-img-account {
        height: 30px;
        margin-left: -65px;
        cursor: pointer;

    }

    .menu-img {
        height: 20px;
    }

    .slider-nav {
        display: flex;
        margin: 20px 0;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .slider-link {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 10px 10px 10px 0;
        cursor: pointer;
    }

    .slider-link img {
        height: 24px;
        width: 24px;
    }

    .slider-link h6 {
        color: rgb(120, 120, 120);
        font-weight: 500;
        margin: 10px 0 10px 0;
    }

    .slider-link #active {
        color: black;
    }

    .active {
        width: 35px;
        height: 2.5px;
        background-color: black;
    }

    #active-link {
        cursor: default;
    }

    .arrow-right {
        height: 25px;
        border: 1px solid #808080;
        border-radius: 50%;
        padding: 6px;
        /* margin-bottom: 16px;
    margin-left: 40px; */
        margin: 0 40px 16px 40px;
        cursor: pointer;
    }

    .filters {
        display: flex;
        align-items: center;
        padding: 15px 20px;
        border: 1px solid lightgray;
        border-radius: 14px;
        margin: 0 0 16px 40px;
        gap: 7px;
        cursor: pointer;
    }

    .filter-img {
        height: 15px;
    }

    .filters h6 {
        margin: 0;
        font-weight: 700;
    }

    .total-prices {
        margin: 0 auto;
        justify-content: space-between;
        display: flex;
        border: 1px solid rgb(211, 211, 211);
        width: 650px;
        padding: 13px 28px 13px 8px;
        border-radius: 14px;
        align-items: center;
    }

    .total-price-fees {
        display: flex;
        align-items: center;
    }

    .total-prices h5 {
        margin: 0 10px;
    }

    .total-prices #total {
        font-weight: 500;
    }

    .total-prices #include {
        font-weight: 200;
    }

    .total-prices span {
        color: lightgray;
        font-weight: 100;
    }

    .toggle-parent {
        display: flex;
        cursor: pointer;

    }

    .toggle-container {
        width: 47px;
        height: 31px;
        padding: 12px 10px;
        background-color: darkgrey;
        border-radius: 17px;
    }

    .toggle-ball {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-color: white;
        margin-left: -45px;
        margin-top: 2px
    }

    .main {
        display: flex;
        flex-wrap: wrap;
        width: 1400px;
        justify-content: center;
        margin: 0 auto;
    }

    .card {
        width: 350px;
        height: 280px;
        padding: 10px;
        margin: 55px 0;
        cursor: pointer;
    }

    .content {
        position: relative;
    }

    .card-image {
        width: 100%;
        border-radius: 14px;
    }

    .content h5 {
        margin: 3px 0;
        font-weight: 400;
        color: rgb(120, 120, 120);
    }

    .content #price-per-night {
        margin-top: 8px;
    }

    .content #location {
        color: black;
        font-weight: 500;
    }

    .content #cost {
        color: black;
        font-weight: 500;
    }

    .content #night {
        color: black;
    }

    .like-btn {
        height: 25px;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .rating {
        display: flex;
        align-items: center;
        gap: 4px;
        position: absolute;
        bottom: 69px;
        right: 1px;
    }

    .star-btn {
        height: 12px;
    }

    .rating h6 {
        margin: 0;
        font-weight: 400;
    }

    .carousel-dots {
        height: 50px;
        display: flex;
        justify-content: space-between;
        width: 50px;
        position: absolute;
        bottom: 68px;
        right: 140px;
    }

    .carousel-dots .dot {
        height: 6px;
        width: 6px;
        background-color: rgb(180, 180, 180);
        border-radius: 50%;

    }

    .carousel-dots #current-img {
        background-color: white;
    }

    .fixed-button {
        position: fixed;
        /* left: 46%; */
        background-color: rgb(43, 43, 43);
        color: white;
        padding: 12px 22px;
        border-radius: 21px;
        font-weight: 600;
        font-size: 14px;
        border: none;
        cursor: pointer;
        transition: .2s;
        bottom: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .fixed-button:hover {
        font-size: 17px;
        bottom:9.5%
        /* box-shadow: 4px 8px 16px 6px red; */
    }

    .fixed-button svg {
        margin-bottom: -3px;
    }

    .footer {
        display: flex;
        align-items: center;
        padding: 10px 0;
        gap: 510px;
        position: fixed;
        bottom: 0;
        background-color: white;
        width: 100%;
        color: black;
    }

    .footer a {
        text-decoration: none;
        font-size: 15px;
        margin: 5px;
        color: rgb(68, 68, 68);
    }
}

@media(min-width:950px) and (max-width:1128px) {
    .container {
        width: 1380px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .sticked-to-top {
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: white;
    }

    .logo {
        display: none;

    }

    .header-nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        padding: 10px 0;

    }

    .search {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid lightgray;
        border-radius: 50px;
        padding: 8px 55px 8px 26px;
        height: 30px;
        background-color: transparent;
        color: lightgray;
    }


    .search h5 {
        margin: 0;
        font-weight: 600;
        color: black;
    }

    #guests {
        color: rgb(143, 143, 143);
        font-weight: 400;
    }

    .search-icon {
        height: 100px;
        width: 100px;
        /* background-color: #FF385C; */
        color: #664e4e;
        padding: 10px;
        border-radius: 50%;
        /* margin-left: -288px; */
        margin-top: 2px;
    }

    .profile {
        height: 30px;
        padding: 10px 10px 10px 0;
        gap: 25px;
        display: flex;
        align-items: center;
    }

    .profile h6 {
        margin: 0;
        font-weight: 500;
        font-size: 14px;
    }

    .menu-img-ham {
        width: 16px;
        border: 1px solid lightgray;
        border-radius: 50px;
        padding: 13px 50px 13px 10px;
        background-color: transparent;
    }

    .menu-img-account {
        height: 30px;
        margin-left: -65px;
    }

    .menu-img {
        height: 20px;
    }

    .slider-nav {
        display: flex;
        margin: 20px 0;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .slider-link {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 10px 10px 10px 0;
        cursor: pointer;
    }

    .slider-link img {
        height: 24px;
        width: 24px;
    }

    .slider-link h6 {
        color: rgb(120, 120, 120);
        font-weight: 500;
        margin: 10px 0 10px 0;
    }

    .slider-link #active {
        color: black;
    }

    /* #active-link{
        cursor: none;
    } */

    .active {
        width: 35px;
        height: 2.5px;
        background-color: black;
    }

    .arrow-right {
        height: 13px;
        border: 1px solid #808080;
        border-radius: 50%;
        padding: 6px;
        /* margin-bottom: 16px;
    margin-left: 40px; */
        margin: 0 40px 16px 40px;
    }

    .filters {
        display: flex;
        align-items: center;
        padding: 15px 20px;
        border: 1px solid lightgray;
        border-radius: 14px;
        margin: 0 0 16px 40px;
        gap: 7px;
    }

    .filter-img {
        height: 15px;
    }

    .filters h6 {
        margin: 0;
        font-weight: 700;
    }

    .total-prices {
        margin: 0 auto;
        justify-content: space-between;
        display: flex;
        border: 1px solid rgb(211, 211, 211);
        width: 650px;
        padding: 13px 28px 13px 8px;
        border-radius: 14px;
        align-items: center;
    }

    .total-price-fees {
        display: flex;
        align-items: center;
    }

    .total-prices h5 {
        margin: 0 10px;
    }

    .total-prices #total {
        font-weight: 500;
    }

    .total-prices #include {
        font-weight: 200;
    }

    .total-prices span {
        color: lightgray;
        font-weight: 100;
    }

    .toggle-parent {
        display: flex;
    }

    .toggle-container {
        width: 27px;
        height: 8px;
        padding: 12px 10px;
        background-color: darkgrey;
        border-radius: 17px;
    }

    .toggle-ball {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-color: white;
        margin-left: -45px;
        margin-top: 2px
    }

    .main {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .card {
        width: 325px;
        /* height: 280px; */
        padding: 10px;
        margin: 45px 0;
    }

    .content {
        position: relative;
    }

    .card-image {
        width: 100%;
        border-radius: 14px;
    }

    .content h5 {
        margin: 3px 0;
        font-weight: 400;
        color: rgb(120, 120, 120);
    }

    .content #price-per-night {
        margin-top: 8px;
    }

    .content #location {
        color: black;
        font-weight: 500;
    }

    .content #cost {
        color: black;
        font-weight: 500;
    }

    .content #night {
        color: black;
    }

    .like-btn {
        height: 25px;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .rating {
        display: flex;
        align-items: center;
        gap: 4px;
        position: absolute;
        bottom: 69px;
        right: 1px;
    }

    .star-btn {
        height: 12px;
    }

    .rating h6 {
        margin: 0;
        font-weight: 400;
    }

    .carousel-dots {
        height: 50px;
        display: flex;
        justify-content: space-between;
        width: 50px;
        position: absolute;
        bottom: 68px;
        right: 140px;
    }

    .carousel-dots .dot {
        height: 6px;
        width: 6px;
        background-color: rgb(180, 180, 180);
        border-radius: 50%;
    }

    .carousel-dots #current-img {
        background-color: white;
    }

    .fixed-button {
        position: fixed;
        bottom: 60px;
        left: 46%;
        background-color: rgb(43, 43, 43);
        color: white;
        padding: 12px 22px;
        border-radius: 21px;
        font-weight: 600;
        font-size: 14px;
        border: none;
        cursor: pointer;
    }

    .fixed-button svg {
        margin-bottom: -3px;
    }

    .footer {
        display: flex;
        align-items: center;
        padding: 10px 0;
        gap: 510px;
        position: fixed;
        bottom: 0;
        background-color: white;
        width: 100%;
        color: black;
    }

    .footer a {
        text-decoration: none;
        font-size: 15px;
        margin: 5px;
        color: rgb(68, 68, 68);
    }
}